<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.shop.admin.mapper.type.IAttrMapper">

<insert id="addAttr" parameterType="com.fh.shop.admin.po.type.Attr">
<selectKey keyProperty="id" resultType="long" order="AFTER">
    select last_insert_id()
</selectKey>
    insert into t_attr (attrName,typeId) values (#{attrName},#{typeId})
</insert>

    <select id="findAattrListByTypeId" resultType="com.fh.shop.admin.po.type.Attr" parameterType="long">
        select id,attrName,typeId from t_attr where typeId = #{v}
    </select>
    
    <delete id="deleteByTypeId" parameterType="long">
        delete from t_attr where typeId = #{v}
    </delete>


    <select id="findAttrBatchId"  parameterType="long" resultType="com.fh.shop.admin.po.type.Attr">
        select id,attrName,typeId from t_attr where typeId in
        <foreach collection="list" separator="," open="(" close=")" item="a">
            #{a}
        </foreach>
    </select>

    <select id="findAttrIds"  parameterType="long">
        select id,attrName,typeId from t_attr where typeId in
        <foreach collection="list" separator="," open="(" close=")" item="a">
            #{a}
        </foreach>

    </select>


    <delete id="deleteBatch" >
        delete from t_attr where typeId in
        <foreach collection="list" separator="," open="(" close=")" item="x">
            #{x}
        </foreach>
    </delete>
</mapper>