<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.shop.admin.mapper.spec.ISpecValueMapper">

    <!--新增-->
    <insert id="addSpecValue" parameterType="com.fh.shop.admin.po.spec.SpecValue">
        insert into t_specValue (specValue,sort,specId) values(#{specValue},#{sort},#{specId})
    </insert>

    <insert id="addBatch">
        insert into t_specValue (specValue,sort,specId) values
        <foreach collection="list" separator="," item="x" >
            (#{x.specValue},#{x.sort},#{x.specId})
        </foreach>
    </insert>

    <select id="findSpecValueBySpecId" parameterType="long" resultType="com.fh.shop.admin.po.spec.SpecValue">
        select id,specValue,sort,specId from t_specValue where specId=#{v}
    </select>

    <delete id="deleteSpecValueBySpecId" parameterType="long">
        delete from t_specValue where specId=#{v}
    </delete>

    <delete id="deleteBatch" >
        delete from t_specValue where specId in 
        <foreach collection="list" open="(" close=")" separator="," item="x">
            #{x}
        </foreach>
    </delete>

</mapper>