<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.shop.api.type.mapper.IAttrValueMapper">

<insert id="addBatch" >
    insert into t_attr_value (attrValue,attrId) values
    <foreach collection="list" item="x" separator=",">
        (#{x.attrValue},#{x.attrId})
    </foreach>
</insert>

    <select id="findAttrValueListByAttrIdList" parameterType="long" resultType="com.fh.shop.api.type.po.AttrValue">
        select id,attrValue,attrId from t_attr_value where attrId in
        <foreach collection="list" separator="," open="(" close=")" item="x">
            #{x}
        </foreach>
    </select>
    
    <delete id="deleteByAttrIdList">
        delete from t_attr_value where attrId in
        <foreach collection="list" item="x" separator="," open="(" close=")">
            #{x}
        </foreach>
    </delete>

    <delete id="deleteBatch">
        delete from t_attr_value where attrId in
        <foreach collection="list" item="x" separator="," open="(" close=")">
            #{x}
        </foreach>
    </delete>
</mapper>